# Entorno virtual
venv/
ENV/
env/
.venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de logs
*.log

# Archivos de configuración local
.env
*.env

# Archivos de bases de datos temporales
*.sqlite3
*.db

# Archivos de modelos entrenados
*.h5
*.pt
*.pth
*.joblib


# Archivos de datos grandes
data/
*.csv
*.tsv
*.xlsx


# Archivos de FastAPI/Starlette
instance/
*.pem

# IDEs y editores
.vscode/
.idea/
*.swp


# Otros
.DS_Store
Thumbs.dbembeddings.pkl
*.pkl
embeddings.pkl